name: Publish Artifacts
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
jobs:
  publish-artifacts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - run: ./mill mill.scalalib.PublishModule/
        env:
          MILL_PGP_SECRET_BASE64: ${{ secrets.PGP_SECRET_BASE64 }}
          MILL_SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          MILL_SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
